language: go

# https://github.com/travis-ci/travis-ci/issues/9247
go:
  - "1.7"
  - "1.8"
  - "1.9"
  - "1.10"
  - "1.11"
  - "master"

go_import_path: github.com/updatehub/updatehub

matrix:
  allow_failures:
    - go: master

addons:
  apt:
    sources:
      - sourceline: 'ppa:masterminds/glide'
    packages:
      - libarchive-dev
      - glide

before_install:
  - make vendor
  - go get github.com/mattn/goveralls

install: true

env:
  secure: "kOUj3gVeb04V95LTj1g3DwyLVtSCksHzuXCOK+TR293rXioGNgbXmdXqvs9GQasfNtQCMlg35yfdfRNxtGDQRv58uQFyJ2xROon1+9SY4Xi62gDywDziAijU82IK9PPk9stCgZP+LfyMKiAEcc2MTDkWo9WIy5ISfIG2+GRjBQ7MvSEd6WkiTV19UAGkGDXF0UqzCtq7/xuEYtk1KFOhF0ojBBukPDveq4J1Gl3WMlUsEceO7FIuSQNA+pWRAEWnKtxvdbYfjpkeUPsAo53uctqIc3nQ6yRprX6vsf28FTTvuo/DuPWahs/yZn1X2kCgSpDPLgq7xvtryN6vF6+l2JCsFWVtRLrOybgVfYWALoSdGko2R7pQy+DxdRxf649mZjkwgIIkQgZMTWTwr2B6WwwTKmPiMa2o3d40WNQ7TLUTK/WxFfpq7zmKyyrkHajBdkgLPIHWZdcGuiqfF6QPkXkfR6Mned1tgYPEMsyf6iG8u//bcTe6U26ZU5dQ+wU66eRvbBZruPxd86FuTk3Rlf6iVvPTuDf9iY0kBhV4Lkuoruo58VANtvXoJuU6mfTj9qb1hM7fl6rIQ9UJJRqyey5xFkcw2DHcZkPgrRIRHaVrunbi/z0iG1BXmzP1sQCHcNRmvlVvoQh/9LTR49D1hJWLHNtPBrhlnI7zN82TzUQ="

script:
  - make test
  - make coverage

after_success:
  - goveralls -coverprofile=.GOPATH/coverage/all.merged -ignore main.go
