ENV{ID_FS_LABEL}=="updatehub|UPDATEHUB", \
  ENV{DEVTYPE}=="partition", \
  ACTION=="add", \
  SUBSYSTEM=="block", \
  RUN+="/bin/mkdir -p /mnt/updatehub", \
  RUN+="/bin/sh -c '/bin/echo /usr/bin/updatehub-server --mount /dev/%k --fstype $env{ID_FS_TYPE} --probe /mnt/updatehub | at -M now'"

ENV{ID_FS_LABEL}=="updatehub|UPDATEHUB", \
  ENV{DEVTYPE}=="partition", \
  ACTION=="remove", \
  RUN+="/usr/bin/killall updatehub-server", \
  RUN+="/bin/umount /mnt/updatehub", \
  RUN+="/bin/rm -rf /mnt/updatehub"
