ENV{ID_FS_LABEL}=="updatehub|UPDATEHUB", ENV{DEVTYPE}=="partition", ACTION=="add", RUN+="/bin/mkdir -p /mnt/updatehub", RUN+="/bin/mount -o ro /dev/%k /mnt/updatehub", RUN+="/usr/bin/updatehub-server --wait /mnt/updatehub"
ENV{ID_FS_LABEL}=="updatehub|UPDATEHUB", ENV{DEVTYPE}=="partition", ACTION=="remove", RUN+="/bin/umount /mnt/updatehub", RUN+="/bin/rm -rf /mnt/updatehub"
