ENV{ID_FS_LABEL}=="updatehub", ACTION=="add", SUBSYSTEM=="block", RUN+="/bin/mkdir -p /mnt/updatehub", RUN+="/bin/mount -o ro /dev/%k /mnt/updatehub", RUN+="/usr/bin/updatehub-server --wait /mnt/updatehub"
ENV{ID_FS_LABEL}=="updatehub", ACTION=="remove", SUBSYSTEM=="block", RUN+="/bin/umount /mnt/updatehub", RUN+="/bin/rm -rf /mnt/updatehub"

ENV{ID_FS_LABEL}=="UPDATEHUB", ACTION=="add", SUBSYSTEM=="block", RUN+="/bin/mkdir -p /mnt/updatehub", RUN+="/bin/mount -o ro /dev/%k /mnt/updatehub", RUN+="/usr/bin/updatehub-server --wait /mnt/updatehub"
ENV{ID_FS_LABEL}=="UPDATEHUB", ACTION=="remove", SUBSYSTEM=="block", RUN+="/bin/umount /mnt/updatehub", RUN+="/bin/rm -rf /mnt/updatehub"
