# Copyright (C) 2017, 2018 O.S. Systems Sofware LTDA
#
# SPDX-License-Identifier: Apache-2.0

[package]
name = "updatehub"
version = "0.1.0"
authors = ["Otavio Salvador <otavio@ossystems.com.br>"]
license = "Apache-2.0"
edition = "2018"

[dependencies]
actix = { git = "https://github.com/OSSystems/actix.git", branch = "topic/messages_without_result" }
actix-rt = "1"
actix-web = "2"
async-trait = "0.1"
chrono = { version = "0.4", features = ["serde"] }
compress-tools = "0.1"
crypto-hash = "0.3"
derive_more = "0.99"
easy_process = "0.1"
hex = "0.4"
infer = "0.1"
lazy_static = "1"
nix = "0.16"
parse_duration = "2"
pkg-schema = { path = "../updatehub-package-schema", package = "updatehub-package-schema" }
quale = "1"
rand = "0.7"
regex = "1"
reqwest = { version = "0.10", features = ["default-tls", "json"] }
serde = { version = "1", features = ["rc", "derive"] }
serde_ini = "0.2"
serde_json = "1"
slog = { version = "2", features = ["max_level_trace", "release_max_level_trace"] }
slog-async = "2"
slog-scope = "4"
slog-term = "2"
structopt = "0.3"
sys-mount = "1"
tempfile = "3"
timeout-readwrite = "0.3"
tokio = { version = "0.2", features = ["fs"] }
walkdir = "2"

[build-dependencies]
git-version = "0.3"

[dev-dependencies]
loopdev = "0.2"
mockito = "0.23"
pretty_assertions = "0.6"
tempfile = "3"
